<%= link_to 'Return to Dashboard', merchant_dashboard_index_path(params[:merchant_id]), class:"btn btn-outline-dark navbar-custom" %>
<br><br>
<h1><%= Merchant.find(params[:merchant_id]).name %>'s Invoices</h1>
<br>
<div align="center">
<h3>All Merchant Invoices</h3>
<% @invoices.each do |i| %>
  <div id="invoices-<%= i.id %>" class="card navbar-custom"  style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">Invoice: <%= i.id %></h5>
        <td><%= link_to 'View', merchant_invoice_path((params[:merchant_id]), i.id), class:"btn btn-outline-dark navbar-custom" %></td>
    </div>
  </div>
  <br/>
<% end %>
