<%= link_to 'Return to Dashboard', merchant_dashboard_index_path(@merchant.id), class:"btn btn-outline-dark navbar-custom" %>
<%= link_to 'Create New Item', new_merchant_item_path, class: "btn btn-outline-dark navbar-custom"%>
<br><br>
<h1><%= @merchant.name %>'s Items</h1>
<br>

<table id="top-item-table" class="table table-striped" style="text-align:center">
  <thead class="custom" text-align="center" align="center">
    <tr>
      <th colspan="4" style="font-family: Quicksand;"><h4>Top 5 Items</h4></th>
    </tr>
  </thead>
  <tbody>
      <table class="table table-striped table-hover navbar-custom">
        <tr id="item-table-headers" class="custom" style="font-family: Quicksand;">
          <th>Item Rank:</th>
          <th>Item Name:</th>
          <th>Top Selling Date:</th>
          <th>Total Revenue Generated:</th>
        </tr>
          <% @merchant.top_five_items.each_with_index do |item, idx| %>
            <tr id="item-<%= item.id %>">
              <td><%= "#{idx + 1}" %></td>
              <td><%= link_to item.name, merchant_item_path(@merchant.id, item.id), class: "btn btn-sm btn-outline-dark navbar-custom" %></td>
              <td><%= "#{item.item_best_day(item.id).first.purchase_date}" %></td>
              <td><%= number_to_currency(("#{item.total_item_price}".to_i)/100.00) %></td>
            </tr>
          <% end %>
      </table>
  </tbody>
</table>
<br><br>

<table id='all-item-table' class="table table-striped" style="text-align:center">
  <thead class="custom" text-align="center" align="center">
    <tr>
      <th colspan="5" style="font-family: Quicksand;"><h4>All Items</h4></th>
    </tr>
  </thead>
  <tbody>
    <table class="table mb-0 table-striped table-hover navbar-custom">
      <tr id="item-table-headers" class="custom" style="font-family: Quicksand;">
        <th>Item Name:</th>
        <th>Item Status:</th>
        <th>Enable/Disable:</th>
        <th>Show Page:</th>
        <th>Edit Page:</th>
      </tr>
      <tr id="sort-buttons">
        <th><%= button_to "Sort Alphabetically", merchant_items_path(@merchant.id), method: :get, params: { sort: 'name' }, class: "btn btn-outline-dark navbar-custom" %></th>
        <th><%= button_to "Sort by Updated Date", merchant_items_path(@merchant.id), method: :get, params: { sort: 'date' }, class: "btn btn-outline-dark navbar-custom" %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
        <% @items.each do |item| %>
          <tr id= "merchant_item-<%= item.id %>">
            <td><%= item.name %></td>
            <td><%= item.enable.capitalize %>d</td>
            <td><%= button_to "#{item.enable_opposite.capitalize} Item", merchant_item_path(@merchant.id, item.id), method: :patch,
                      params: { direct: :enable, item: { id: item.id, enable: item.enable_opposite }}, class: "btn btn-sm btn-outline-dark navbar-custom" %></td>
            <td><%= link_to 'View', merchant_item_path(@merchant.id, item.id), class: "btn btn-sm btn-outline-dark navbar-custom" %></td>
            <td><%= link_to 'Edit', edit_merchant_item_path(@merchant.id, item.id), class: "btn btn-sm btn-outline-dark navbar-custom" %></td>
          </tr>
        <% end %>
    </table
  </tbody>
</table>
<br><br>

<div align="center" style="margin:auto; width: 100%; padding: 0 100px 0;">
  <div id="enabled" style="display:inline-block; width:auto; background:rgba(250,250,250, 0.3); padding:20px; margin:0 4em 2em 0;">
    <table class="table mb-0 table-striped table-hover navbar-custom">
        <tbody>
          <h4>Enabled Items</h4>
          <% @enabled_items.each do |item| %>
            <tr id="enabled_item-<%= item.id %>">
              <td><%= link_to item.name, merchant_item_path(@merchant.id, item.id), class: "link-dark" %></td>
              <td><%= button_to "#{item.enable_opposite.capitalize} Item", merchant_item_path(@merchant.id, item.id), method: :patch,
                        params: { direct: :enable, item: { id: item.id, enable: item.enable_opposite }}, class: "btn btn-secondary btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  <div id="disabled" style="display:inline-block; width:auto; background:rgba(250,250,250, 0.3); padding:20px; margin:0 4em 2em 0;">
    <table class="table mb-0 table-striped table-hover navbar-custom">
        <tbody>
          <h4>Disabled Items</h4>
          <% @disabled_items.each do |item| %>
            <tr id="disabled_item-<%= item.id %>">
              <td><%= link_to item.name, merchant_item_path(@merchant.id, item.id), class: "link-dark" %></td>
              <td><%= button_to "#{item.enable_opposite.capitalize} Item", merchant_item_path(@merchant.id, item.id), method: :patch,
                        params: { direct: :enable, item: { id: item.id, enable: item.enable_opposite }}, class: "btn btn-secondary btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
