<h1>New Bulk Discount</h1>
<% if !params[:format].nil? %>
  <% discount_name = "#{params[:format]} Discount" %>
  <% percentage_discount = 0.3 %>
  <% quantity_threshold = 2 %>
<% else %>
  <% discount_name = 'Bulk Discount' %>
  <% percentage_discount = 0.5 %>
  <% quantity_threshold = 10 %>
<% end %>
<div align="center">
  <%= form_with url: merchant_discounts_path(params[:merchant_id]), method: :post, local: true, :html => { :class => 'card navbar-custom card-body', :style => 'width: 15rem;' } do |f| %>
    <%= f.label :name, "Discount Name:" %>
    <div style="padding-top:10px;">
      <%= f.text_field :name, value: discount_name %><br>
    </div>
    <br>
    <%= f.label :quantity_threshold, "Quantity Threshold:" %>
    <div style="padding-top:10px;">
      <%= f.number_field :quantity_threshold, step: 1, min: 0, value: quantity_threshold %><br>
    </div>
    <br>
    <%= f.label :percentage_discount, "Percentage Discount:" %>
    <div style="padding-top:10px;">
      <%= f.number_field :percentage_discount, step: 0.05, min: 0.1, max: 0.9, value: percentage_discount %><br>
    </div>
    <br>
    <div style="padding-top:10px;">
      <%= f.submit 'Create Discount', :class => "btn btn-outline-dark navbar-custom" %>
    </div>
<% end %>
</div>
